<!--The content below is only a placeholder and can be replaced.-->
<h1>Pipes</h1>
<table mat-table class="mat-elevation-z8">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Pipe</th>
      <th>Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nombre}}</td>
      <td>uppercase</td>
      <td>{{ nombre | uppercase }}</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>lowecase</td>
      <td>{{ nombre | lowercase }}</td>
    </tr>
    <tr>
        <td>{{nombre}}</td>
        <td>slice:3</td>
        <td>{{ nombre | slice:3 }}</td>
      </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>slice:0:3</td>
      <td>{{ nombre | slice:0:3 }}</td>
    </tr>
    <tr>
      <td>{{arreglo}}</td>
      <td>slice:3:7</td>
      <td>{{ arreglo | slice:3:7 }}</td>
    </tr>
    <tr>
      <td>{{pi}}</td>
      <td> number:'1.0-2' </td>
      <td>{{ pi | number:'1.0-2' }}</td>
    </tr>
    <tr>
      <td>{{a}}</td>
      <td> percent </td>
      <td>{{ a | percent }}</td>
    </tr>
    <tr>
      <td>{{a}}</td>
      <td> percent:'2.2-3' </td>
      <td>{{ a | percent:'2.2-3' }}</td>
    </tr>
    <tr>
      <td>{{salario}}</td>
      <td> currency </td>
      <td>{{ salario | currency }}</td>
    </tr>
    <tr>
      <td>{{salario}}</td>
      <td> currency:'EUR' </td>
      <td>{{ salario | currency:'EUR' }}</td>
    </tr>
    <tr>
      <td>{{salario}}</td>
      <td> currency:'EUR':false </td>
      <td>{{ salario | currency:'EUR':false }}</td>
    </tr>
    <tr>
      <td>{{salario}}</td>
      <td> currency:'PEN' </td>
      <td>{{ salario | currency:'PEN' }}</td>
    </tr>
    <tr>
      <td>{{salario}}</td>
      <td> currency:'PEN':true </td>
      <td>{{ salario | currency:'PEN':true }}</td>
    </tr>
    <tr>
      <td>{{ valorDePromesa }}</td>
      <td> async </td>
      <td>{{ valorDePromesa | async }}</td>
    </tr>
    <tr>
      <td>{{ fecha }}</td>
      <td> date </td>
      <td>{{ fecha | date }}</td>
    </tr>
    <tr>
      <td>{{ fecha }}</td>
      <td> date:'medium' </td>
      <td>{{ fecha | date:'medium' }}</td>
    </tr>
    <tr>
      <td>{{ fecha }}</td>
      <td> date:'MMMM - dd' </td>
      <td>{{ fecha | date:'MMMM - dd' }}</td>
    </tr>
    <tr>
      <td>{{ nombre2 }}</td>
      <td> capitalizado </td>
      <td>{{ nombre2 | capitalizado }}</td>
    </tr>
  </tbody>
  <!-- <ng-container matColumnDef="variable">
   <th mat-header-cell *matHeaderCellDef>Variable</th>
    <td mat-cell *matCellDef="let nombre">{{ nombre }}</td>
  </ng-container>
  <ng-container>
    <th mat-header-cell *matHeaderCellDef>Pipe</th>
    <td mat-cell *matCellDef>uppercase</td>
  </ng-container>
  <ng-container>
    <th mat-header-cell *matHeaderCellDef>Resultado</th>
    <td mat-cell *matCellDef="let nombre">{{nombre | uppercase}}</td>
  </ng-container> -->  
</table>

<h4>Slice</h4>
<ul>
  <li *ngFor="let item of arreglo | slice:5:10">{{item}}</li>
</ul>

<h4>JSON</h4>
<pre>
{{ persona | json }}
</pre>